<div class="text-center mb-5">
  <h1><%= @edition.title %></h1>

  <% if @edition.has_subtitle? %>
    <h4 class="mb-4"><%= @edition.subtitle %></h4>
  <% end %>

  <%= t('editions.edited_by', username: @edition.user.username) %>
</div>

<div class="table-of-contents mb-5 fs-5">
  <div class="contents-list">
    <ol type="I">
      <% @edition.books.each do |book| %>
          <li>
            <%= link_to book.has_subtitle? ? "#{book.title}: #{book.subtitle}" : "#{book.title}", edition_book_path(@edition, book), class: 'text-decoration-none' %>
            <% if book.has_chapters? %>
              <ol class="mb-2">
                <% book.chapters.each do |chapter| %>
                  <li><%= link_to chapter.title, edition_book_chapter_path(book, book.position, chapter.position), class: 'text-decoration-none' %></li>
                <% end %>
              </ol>
            <% end %>
          </li>
      <% end %>
    </ol>
  </div>
</div>