<%= render partial: 'breadcrumbs', locals: { current: @book } %>

<div class="text-center my-5">
  <h3 class="mb-3"><%= t('books.heading', book_number: @book.position) %></h2>
  <h2><%= @book.title %></h2>

  <% if @book.has_subtitle? %>
    <h4 class="mt-3 mb-4"><%= @book.subtitle %></h4>
  <% end %>
</div>

<div class="table-of-contents mb-5 fs-5">
  <div class="contents-list">
    <ol>
      <% @book.chapters.each do |chapter| %>
          <li>
            <%= link_to chapter.has_subtitle? ? "#{chapter.title}: #{chapter.subtitle}" : "#{chapter.title}", edition_book_chapter_path(@book.edition, @book.position, chapter.position) %>
          </li>
      <% end %>
    </ol>
  </div>
</div>