<%= link_to sanitize("<< <em>#{@book.edition.title}</em> (ed. #{@book.edition.user.username})"), edition_path(@book.edition), class: 'text-decoration-none' %>

<div class="text-center mt-3 mb-5">
  <h2>Book <%= @book.position %></h2>
  <h2><%= @book.title %></h2>

  <% if @book.has_subtitle? %>
    <h4 class="mb-4"><%= @book.subtitle %></h4>
  <% end %>
</div>

<div class="table-of-contents mb-5 fs-5">
  <div class="contents-list">
    <ol>
      <% @book.chapters.each do |chapter| %>
          <li>
            <%= link_to chapter.has_subtitle? ? "#{chapter.title}: #{chapter.subtitle}" : "#{chapter.title}", edition_book_chapter_path(@book.edition, @book, chapter), class: 'text-decoration-none' %>
          </li>
      <% end %>
    </ol>
  </div>
</div>