<h1><%= t('texts.number_short', text_number: @text.nietzsche_number) %></h1>
<h3>
  <%= kgw_numbers_string(@text) %>

  <% if @text.has_book_number? %>
      / <%= t('books.heading_one', book_number: @text.roman_book_number) %>
  <% end %>
</h3>

<h2><%= @text.title %></h2>

<p><%= @text.text %></p>