<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app.name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= t('app.name_html') %></h1>
    <hr />

    <%= link_to t('app.root_link'), root_path %> |
    <%= link_to t('texts.heading_all'), texts_path %> | 
    <%= link_to t('editions.heading_all'), editions_path %>

    <hr />

    <%= yield %>
  </body>
</html>
