<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app.name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
        <div class="container-fluid ps-1 pe-0">
          <%= link_to t('app.name_html'), root_path, class: 'navbar-brand logo fs-2' %>

          <ul class="navbar-nav fs-5">
            <li class="nav-item">
              <%= link_to t('texts.heading_navbar'), texts_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to t('editions.heading_navbar'), editions_path, class: 'nav-link' %>
            </li>
            <!-- TODO: Decide about section names and make working links. -->
            <li class="nav-item">
              <%= link_to "Essays", editions_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "About", editions_path, class: 'nav-link' %>
            </li>
            <form class="d-flex ms-4">
              <input class="form-control border border-primary me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
          </ul>
        </div>
      </nav>
    </div>



      <!-- <h1 class="text-center"><%= t('app.name_html') %></h1> -->

      <!-- <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to t('app.root_link'), root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to t('texts.heading_all'), texts_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to t('editions.heading_all'), editions_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>
    </div> -->

    <div id="body" class="border">
      <%= yield %>
    </div>
  </body>
</html>
